<!DOCTYPE html>
<html>
<head>
    <title>Update Employee</title>
</head>
<body>
    <h1>Update Employee</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.first_name.label }}<br>
        {{ form.first_name(size=32) }}<br>
        {{ form.middle_name.label }}<br>
        {{ form.middle_name(size=32) }}<br>
        {{ form.last_name.label }}<br>
        {{ form.last_name(size=32) }}<br>
        {{ form.sex.label }}<br>
        {{ form.sex(size=32) }}<br>
        {{ form.age.label }}<br>
        {{ form.age() }}<br>
        {{ form.designation.label }}<br>
        {{ form.designation(size=32) }}<br>
        {{ form.employee_id.label }}<br>
        {{ form.employee_id(size=32) }}<br>
        {{ form.submit() }}
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
